In [1]:
from google.colab import drive
drive.mount('/content/drive')
%cd /content/drive/MyDrive/Colab Notebooks/DSF/

Mounted at /content/drive
/content/drive/MyDrive/Colab Notebooks/DSF

In [2]:
import pandas as pd
cluster = pd.read_csv('cluster_df.csv')

In [3]:
cluster_sorted = cluster.sort_values(by='Unnamed: 0')

In [4]:
cluster_sorted

,Unnamed: 0,#구역,0구역,1구역,2구역,0구역 비율,1구역 비율,2구역 비율,0구역 좌표,1구역 좌표,2구역 좌표
5,강남구,3,"['자곡동', '율현동', '수서동']","['삼성동', '역삼동', '논현동', '신사동', '청담동']","['일원동', '개포동', '대치동']",0.121498,0.434353,0.444149,"(127.10614439795955, 37.470920022515344)","(127.04550973042642, 37.505757876256496)","(127.07089573672334, 37.489977016481035)"
3,강동구,2,"['상일동', '강일동', '고덕동']","['길동', '천호동', '성내동', '명일동', '암사동']",NaN,0.298176,0.701824,NaN,"(127.17331445628949, 37.56089420666742)","(126.75927810972306, 37.49105440435414)","(127.13269176891738, 37.54055506263008)"
13,강북구,1,"['미아동', '수유동', '삼양동']",NaN,NaN,1.000000,NaN,NaN,"(127.01625047561637, 37.62099093780908)","(127.03263610967089, 37.61557651595893)","(127.02150425661185, 37.639483666116575)"
20,강서구,2,"['가양동', '염창동', '등촌동', '화곡동', '내발산동']",['공항동'],NaN,0.959352,0.040648,NaN,"(126.85527406978932, 37.554976852633)","(126.81979423835008, 37.56291625778691)",NaN
12,관악구,2,['봉천동'],['신림동'],NaN,0.478519,0.521481,NaN,"(126.95896293664869, 37.48218984300547)","(127.04512943579387, 37.250033573972196)","(126.91697260099855, 37.468138536190345)"
17,광진구,2,['구의동'],['화양동'],NaN,0.767001,0.232999,NaN,"(126.99765, 37.503423)","(126.373725, 36.633552)",NaN
10,구로구,3,"['도림동', '고척동']",['오류동'],"['항동', '천왕동', '개봉동', '온수동']",0.283964,0.184888,0.531148,"(126.87269123406165, 37.499247179132695)","(126.58188411027875, 37.717775528122274)","(126.83496383811062, 37.48366195184633)"
18,금천구,1,"['시흥동', '독산동']",NaN,NaN,1.000000,NaN,NaN,"(126.915626, 37.449877)",NaN,NaN
6,노원구,2,"['상계동', '중계동']",['공릉동'],NaN,0.793972,0.206028,NaN,"(127.07400738844085, 37.661403595133464)","(127.0538028182214, 37.68414153589406)","(127.06156295761386, 37.636307213993014)"
16,도봉구,3,['도봉동'],"['쌍문동', '방학동']",['창동'],0.149641,0.475708,0.374651,"(127.04848083756056, 37.6741512935112)","(127.02336783877521, 37.648681739016965)","(127.03252142855577, 37.670123260589996)"
4,동대문구,2,"['청량리동', '답십리동', '장안동', '휘경동', '전농동', '면목동', '...",['용두동'],NaN,0.922830,0.077170,NaN,"(127.05755193611947, 37.58130200869168)","(126.52327734065008, 33.50448669429715)","(126.37372500706047, 36.63355190807003)"
9,동작구,2,"['본동', '흑석동', '신대방동', '노량진동']",['상도동'],NaN,0.505411,0.494589,NaN,"(126.95231592925427, 37.50137184625171)","(127.47813569681881, 36.619119338286495)","(126.3336225327906, 36.78547218649276)"
1,마포구,2,"['공덕동', '상수동', '서교동', '대흥동', '현석동', '아현동', '신공...","['성산동', '상암동', '망원동', '연남동']",NaN,0.590265,0.409735,NaN,"(126.94331389920279, 37.54879054668452)","(126.95720243675639, 36.872209602537346)","(126.89405633633406, 37.5754203844663)"
7,서대문구,3,"['북가좌동', '연희동', '남가좌동']","['홍은동', '홍제동']","['냉천동', '현저동', '북아현동', '중림동']",0.470765,0.375577,0.153658,"(126.91895735821267, 37.57551050703756)","(126.94560556623844, 37.59232479042371)","(126.95780921708551, 37.56491766928719)"
2,서초구,3,"['우면동', '양재동', '잠원동']","['내곡동', '신원동']","['방배동', '서초동', '반포동']",0.278530,0.040783,0.680687,"(127.02492253006383, 37.46525861284838)","(127.0588342225653, 37.45116853543001)","(127.01102327652143, 37.49602830919166)"
21,성북구,2,"['돈암동', '길음동', '정릉동', '보문동', '성북동', '동소문동', '삼...","['종암동', '장위동', '석관동', '상월곡동', '하월곡동']",NaN,0.509738,0.490262,NaN,"(127.01749142628617, 37.60226170866891)","(127.43768113830744, 36.31401587189976)","(127.04551435927605, 37.60968664117557)"
8,송파구,2,"['마천동', '풍납동', '오금동', '거여동']",['장지동'],NaN,0.790709,0.209291,NaN,"(127.12764348591766, 37.49354373597786)","(127.73432023800228, 34.75394380230205)","(127.83998691441752, 36.810384197323025)"
19,용산구,1,"['신계동', '효창동', '한강로동']",NaN,NaN,1.000000,NaN,NaN,"(127.159832, 37.498478)",NaN,NaN
0,은평구,3,['진관동'],"['응암동', '수색동', '신사동', '역촌동', '구산동']","['녹번동', '불광동', '대조동']",0.153865,0.487982,0.358152,"(126.92431215575408, 37.63973174333606)","(126.91239261771739, 37.592639124100025)","(126.93257292557561, 37.606577243788365)"
15,종로구,2,"['무악동', '행촌동']",['충신동'],NaN,0.811837,0.188163,NaN,"(126.96086357089627, 37.57387185674186)","(127.00781209286387, 37.575959457060584)",NaN
14,중구,2,"['중림동', '만리동']","['신당동', '황학동']",NaN,0.070164,0.929836,NaN,"(126.96327071413242, 37.55450208643459)","(127.01813811000565, 37.560016156697294)",NaN
11,중랑구,3,"['상봉동', '중화동', '묵동']",['신내동'],['면목동'],0.419018,0.173831,0.407151,"(127.08320410170386, 37.60205819385432)","(127.10987660557274, 37.61713892111174)","(127.08424195353611, 37.577791208829744)"

In [5]:
interval = pd.read_csv('15구간.csv')

In [6]:
interval_sorted = interval.sort_values(by='Unnamed: 0')

In [7]:
interval_sorted

,Unnamed: 0,1구간,2구간,3구간,4구간,5구간,6구간,7구간,8구간,9구간,10구간,11구간,12구간,13구간,14구간,15구간
22,강남구,1,15,94,68,15,65,163,178,390,482,804,2154,4680,4665,1593
24,강동구,1,17,106,76,17,73,184,201,440,544,907,2431,5281,5264,1798
8,강북구,1,17,107,77,17,73,185,203,444,549,914,2451,5324,5307,1813
15,강서구,2,29,175,126,29,121,305,333,730,903,1503,4030,8756,8727,2981
20,관악구,1,20,123,89,20,85,214,235,514,635,1058,2837,6164,6143,2098
4,광진구,1,13,77,55,13,53,133,146,319,395,658,1763,3829,3817,1304
16,구로구,1,18,107,77,18,74,186,203,445,550,915,2454,5331,5313,1815
17,금천구,1,11,68,49,11,47,118,129,282,349,581,1557,3382,3371,1151
10,노원구,2,27,167,121,27,115,291,319,697,862,1436,3850,8364,8337,2847
9,도봉구,1,15,94,68,15,65,163,178,390,483,804,2155,4682,4667,1594
5,동대문구,1,16,97,70,16,67,168,184,404,499,831,2228,4840,4824,1648
19,동작구,1,15,89,64,15,61,155,169,370,458,762,2044,4440,4426,1512
13,마포구,1,13,81,58,13,56,140,153,336,415,691,1853,4026,4012,1370
12,서대문구,1,13,77,56,13,53,134,146,321,396,660,1769,3844,3831,1309
21,서초구,1,11,65,47,11,45,114,125,273,337,561,1505,3270,3259,1113
3,성동구,1,12,73,52,12,50,126,138,302,374,623,1669,3626,3614,1234
7,성북구,1,17,106,77,17,73,184,202,442,546,909,2438,5296,5279,1803
23,송파구,1,20,121,88,20,84,211,231,505,625,1041,2789,6060,6040,2063
14,양천구,1,17,105,76,17,73,183,200,439,543,904,2423,5263,5246,1792
18,영등포구,1,14,87,63,14,60,152,166,364,450,750,2011,4369,4355,1487
2,용산구,0,8,49,36,8,34,86,94,206,254,424,1135,2467,2459,840
11,은평구,1,21,131,95,21,90,228,249,546,675,1124,3014,6548,6526,2229
0,종로구,0,6,37,26,6,25,64,70,152,188,314,841,1827,1821,622
1,중구,0,6,35,25,6,24,60,66,144,178,296,793,1723,1718,587
6,중랑구,1,20,123,88,20,84,213,233,510,631,1051,2818,6122,6101,2084

In [8]:
a = []
for word in cluster_sorted['Unnamed: 0']:
  a.append(word)

b = []
for word in interval_sorted['Unnamed: 0']:
  b.append(word)

c = []
for i in range(len(b)):
  if b[i] not in a:
    c.append(b[i])

In [9]:
c

['성동구', '양천구', '영등포구']

In [10]:
interval_sorted2 = interval_sorted.drop(index = [3, 14, 18])

In [11]:
interval_sorted2

,Unnamed: 0,1구간,2구간,3구간,4구간,5구간,6구간,7구간,8구간,9구간,10구간,11구간,12구간,13구간,14구간,15구간
22,강남구,1,15,94,68,15,65,163,178,390,482,804,2154,4680,4665,1593
24,강동구,1,17,106,76,17,73,184,201,440,544,907,2431,5281,5264,1798
8,강북구,1,17,107,77,17,73,185,203,444,549,914,2451,5324,5307,1813
15,강서구,2,29,175,126,29,121,305,333,730,903,1503,4030,8756,8727,2981
20,관악구,1,20,123,89,20,85,214,235,514,635,1058,2837,6164,6143,2098
4,광진구,1,13,77,55,13,53,133,146,319,395,658,1763,3829,3817,1304
16,구로구,1,18,107,77,18,74,186,203,445,550,915,2454,5331,5313,1815
17,금천구,1,11,68,49,11,47,118,129,282,349,581,1557,3382,3371,1151
10,노원구,2,27,167,121,27,115,291,319,697,862,1436,3850,8364,8337,2847
9,도봉구,1,15,94,68,15,65,163,178,390,483,804,2155,4682,4667,1594
5,동대문구,1,16,97,70,16,67,168,184,404,499,831,2228,4840,4824,1648
19,동작구,1,15,89,64,15,61,155,169,370,458,762,2044,4440,4426,1512
13,마포구,1,13,81,58,13,56,140,153,336,415,691,1853,4026,4012,1370
12,서대문구,1,13,77,56,13,53,134,146,321,396,660,1769,3844,3831,1309
21,서초구,1,11,65,47,11,45,114,125,273,337,561,1505,3270,3259,1113
7,성북구,1,17,106,77,17,73,184,202,442,546,909,2438,5296,5279,1803
23,송파구,1,20,121,88,20,84,211,231,505,625,1041,2789,6060,6040,2063
2,용산구,0,8,49,36,8,34,86,94,206,254,424,1135,2467,2459,840
11,은평구,1,21,131,95,21,90,228,249,546,675,1124,3014,6548,6526,2229
0,종로구,0,6,37,26,6,25,64,70,152,188,314,841,1827,1821,622
1,중구,0,6,35,25,6,24,60,66,144,178,296,793,1723,1718,587
6,중랑구,1,20,123,88,20,84,213,233,510,631,1051,2818,6122,6101,2084

In [12]:
cluster_sorted = cluster_sorted.reset_index()

In [13]:
interval_sorted2 = interval_sorted2.reset_index()

In [14]:
cluster_sorted

,index,Unnamed: 0,#구역,0구역,1구역,2구역,0구역 비율,1구역 비율,2구역 비율,0구역 좌표,1구역 좌표,2구역 좌표
0,5,강남구,3,"['자곡동', '율현동', '수서동']","['삼성동', '역삼동', '논현동', '신사동', '청담동']","['일원동', '개포동', '대치동']",0.121498,0.434353,0.444149,"(127.10614439795955, 37.470920022515344)","(127.04550973042642, 37.505757876256496)","(127.07089573672334, 37.489977016481035)"
1,3,강동구,2,"['상일동', '강일동', '고덕동']","['길동', '천호동', '성내동', '명일동', '암사동']",NaN,0.298176,0.701824,NaN,"(127.17331445628949, 37.56089420666742)","(126.75927810972306, 37.49105440435414)","(127.13269176891738, 37.54055506263008)"
2,13,강북구,1,"['미아동', '수유동', '삼양동']",NaN,NaN,1.000000,NaN,NaN,"(127.01625047561637, 37.62099093780908)","(127.03263610967089, 37.61557651595893)","(127.02150425661185, 37.639483666116575)"
3,20,강서구,2,"['가양동', '염창동', '등촌동', '화곡동', '내발산동']",['공항동'],NaN,0.959352,0.040648,NaN,"(126.85527406978932, 37.554976852633)","(126.81979423835008, 37.56291625778691)",NaN
4,12,관악구,2,['봉천동'],['신림동'],NaN,0.478519,0.521481,NaN,"(126.95896293664869, 37.48218984300547)","(127.04512943579387, 37.250033573972196)","(126.91697260099855, 37.468138536190345)"
5,17,광진구,2,['구의동'],['화양동'],NaN,0.767001,0.232999,NaN,"(126.99765, 37.503423)","(126.373725, 36.633552)",NaN
6,10,구로구,3,"['도림동', '고척동']",['오류동'],"['항동', '천왕동', '개봉동', '온수동']",0.283964,0.184888,0.531148,"(126.87269123406165, 37.499247179132695)","(126.58188411027875, 37.717775528122274)","(126.83496383811062, 37.48366195184633)"
7,18,금천구,1,"['시흥동', '독산동']",NaN,NaN,1.000000,NaN,NaN,"(126.915626, 37.449877)",NaN,NaN
8,6,노원구,2,"['상계동', '중계동']",['공릉동'],NaN,0.793972,0.206028,NaN,"(127.07400738844085, 37.661403595133464)","(127.0538028182214, 37.68414153589406)","(127.06156295761386, 37.636307213993014)"
9,16,도봉구,3,['도봉동'],"['쌍문동', '방학동']",['창동'],0.149641,0.475708,0.374651,"(127.04848083756056, 37.6741512935112)","(127.02336783877521, 37.648681739016965)","(127.03252142855577, 37.670123260589996)"
10,4,동대문구,2,"['청량리동', '답십리동', '장안동', '휘경동', '전농동', '면목동', '...",['용두동'],NaN,0.922830,0.077170,NaN,"(127.05755193611947, 37.58130200869168)","(126.52327734065008, 33.50448669429715)","(126.37372500706047, 36.63355190807003)"
11,9,동작구,2,"['본동', '흑석동', '신대방동', '노량진동']",['상도동'],NaN,0.505411,0.494589,NaN,"(126.95231592925427, 37.50137184625171)","(127.47813569681881, 36.619119338286495)","(126.3336225327906, 36.78547218649276)"
12,1,마포구,2,"['공덕동', '상수동', '서교동', '대흥동', '현석동', '아현동', '신공...","['성산동', '상암동', '망원동', '연남동']",NaN,0.590265,0.409735,NaN,"(126.94331389920279, 37.54879054668452)","(126.95720243675639, 36.872209602537346)","(126.89405633633406, 37.5754203844663)"
13,7,서대문구,3,"['북가좌동', '연희동', '남가좌동']","['홍은동', '홍제동']","['냉천동', '현저동', '북아현동', '중림동']",0.470765,0.375577,0.153658,"(126.91895735821267, 37.57551050703756)","(126.94560556623844, 37.59232479042371)","(126.95780921708551, 37.56491766928719)"
14,2,서초구,3,"['우면동', '양재동', '잠원동']","['내곡동', '신원동']","['방배동', '서초동', '반포동']",0.278530,0.040783,0.680687,"(127.02492253006383, 37.46525861284838)","(127.0588342225653, 37.45116853543001)","(127.01102327652143, 37.49602830919166)"
15,21,성북구,2,"['돈암동', '길음동', '정릉동', '보문동', '성북동', '동소문동', '삼...","['종암동', '장위동', '석관동', '상월곡동', '하월곡동']",NaN,0.509738,0.490262,NaN,"(127.01749142628617, 37.60226170866891)","(127.43768113830744, 36.31401587189976)","(127.04551435927605, 37.60968664117557)"
16,8,송파구,2,"['마천동', '풍납동', '오금동', '거여동']",['장지동'],NaN,0.790709,0.209291,NaN,"(127.12764348591766, 37.49354373597786)","(127.73432023800228, 34.75394380230205)","(127.83998691441752, 36.810384197323025)"
17,19,용산구,1,"['신계동', '효창동', '한강로동']",NaN,NaN,1.000000,NaN,NaN,"(127.159832, 37.498478)",NaN,NaN
18,0,은평구,3,['진관동'],"['응암동', '수색동', '신사동', '역촌동', '구산동']","['녹번동', '불광동', '대조동']",0.153865,0.487982,0.358152,"(126.92431215575408, 37.63973174333606)","(126.91239261771739, 37.592639124100025)","(126.93257292557561, 37.606577243788365)"
19,15,종로구,2,"['무악동', '행촌동']",['충신동'],NaN,0.811837,0.188163,NaN,"(126.96086357089627, 37.57387185674186)","(127.00781209286387, 37.575959457060584)",NaN
20,14,중구,2,"['중림동', '만리동']","['신당동', '황학동']",NaN,0.070164,0.929836,NaN,"(126.96327071413242, 37.55450208643459)","(127.01813811000565, 37.560016156697294)",NaN
21,11,중랑구,3,"['상봉동', '중화동', '묵동']",['신내동'],['면목동'],0.419018,0.173831,0.407151,"(127.08320410170386, 37.60205819385432)","(127.10987660557274, 37.61713892111174)","(127.08424195353611, 37.577791208829744)"

In [15]:
interval_sorted2

,index,Unnamed: 0,1구간,2구간,3구간,4구간,5구간,6구간,7구간,8구간,9구간,10구간,11구간,12구간,13구간,14구간,15구간
0,22,강남구,1,15,94,68,15,65,163,178,390,482,804,2154,4680,4665,1593
1,24,강동구,1,17,106,76,17,73,184,201,440,544,907,2431,5281,5264,1798
2,8,강북구,1,17,107,77,17,73,185,203,444,549,914,2451,5324,5307,1813
3,15,강서구,2,29,175,126,29,121,305,333,730,903,1503,4030,8756,8727,2981
4,20,관악구,1,20,123,89,20,85,214,235,514,635,1058,2837,6164,6143,2098
5,4,광진구,1,13,77,55,13,53,133,146,319,395,658,1763,3829,3817,1304
6,16,구로구,1,18,107,77,18,74,186,203,445,550,915,2454,5331,5313,1815
7,17,금천구,1,11,68,49,11,47,118,129,282,349,581,1557,3382,3371,1151
8,10,노원구,2,27,167,121,27,115,291,319,697,862,1436,3850,8364,8337,2847
9,9,도봉구,1,15,94,68,15,65,163,178,390,483,804,2155,4682,4667,1594
10,5,동대문구,1,16,97,70,16,67,168,184,404,499,831,2228,4840,4824,1648
11,19,동작구,1,15,89,64,15,61,155,169,370,458,762,2044,4440,4426,1512
12,13,마포구,1,13,81,58,13,56,140,153,336,415,691,1853,4026,4012,1370
13,12,서대문구,1,13,77,56,13,53,134,146,321,396,660,1769,3844,3831,1309
14,21,서초구,1,11,65,47,11,45,114,125,273,337,561,1505,3270,3259,1113
15,7,성북구,1,17,106,77,17,73,184,202,442,546,909,2438,5296,5279,1803
16,23,송파구,1,20,121,88,20,84,211,231,505,625,1041,2789,6060,6040,2063
17,2,용산구,0,8,49,36,8,34,86,94,206,254,424,1135,2467,2459,840
18,11,은평구,1,21,131,95,21,90,228,249,546,675,1124,3014,6548,6526,2229
19,0,종로구,0,6,37,26,6,25,64,70,152,188,314,841,1827,1821,622
20,1,중구,0,6,35,25,6,24,60,66,144,178,296,793,1723,1718,587
21,6,중랑구,1,20,123,88,20,84,213,233,510,631,1051,2818,6122,6101,2084

In [16]:
# 구역별 비율*구간별 인원

for i in range(3):
  for j in range(1, 16):
    interval_sorted2[f'{i}구역 {j}구간'] = cluster_sorted[f'{i}구역 비율'] * interval_sorted2[f'{j}구간']

In [17]:
interval_sorted2

,index,Unnamed: 0,1구간,2구간,3구간,4구간,5구간,6구간,7구간,8구간,...,2구역 6구간,2구역 7구간,2구역 8구간,2구역 9구간,2구역 10구간,2구역 11구간,2구역 12구간,2구역 13구간,2구역 14구간,2구역 15구간
0,22,강남구,1,15,94,68,15,65,163,178,...,28.869691,72.396302,79.058539,173.218147,214.079864,357.095872,956.697150,2078.617762,2071.955526,707.529508
1,24,강동구,1,17,106,76,17,73,184,201,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8,강북구,1,17,107,77,17,73,185,203,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,15,강서구,2,29,175,126,29,121,305,333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20,관악구,1,20,123,89,20,85,214,235,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4,광진구,1,13,77,55,13,53,133,146,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,16,구로구,1,18,107,77,18,74,186,203,...,39.304964,98.793558,107.823077,236.360933,292.131490,486.000570,1303.437594,2831.550861,2821.990194,964.033917
7,17,금천구,1,11,68,49,11,47,118,129,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,10,노원구,2,27,167,121,27,115,291,319,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,9,도봉구,1,15,94,68,15,65,163,178,...,24.352297,61.068067,66.687828,146.113780,180.956297,301.219178,807.372298,1754.114664,1748.494903,597.193245
10,5,동대문구,1,16,97,70,16,67,168,184,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,19,동작구,1,15,89,64,15,61,155,169,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,13,마포구,1,13,81,58,13,56,140,153,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,12,서대문구,1,13,77,56,13,53,134,146,...,8.143894,20.590222,22.434123,49.324339,60.848717,101.414529,271.821668,590.662800,588.665241,201.138815
14,21,서초구,1,11,65,47,11,45,114,125,...,30.630916,77.598321,85.085879,185.827559,229.391529,381.865423,1024.433979,2225.846585,2218.359028,757.604663
15,7,성북구,1,17,106,77,17,73,184,202,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,23,송파구,1,20,121,88,20,84,211,231,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2,용산구,0,8,49,36,8,34,86,94,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,11,은평구,1,21,131,95,21,90,228,249,...,32.233724,81.658767,89.179969,195.551257,241.752928,402.563394,1079.471592,2345.182476,2337.303122,798.321891
19,0,종로구,0,6,37,26,6,25,64,70,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,1,중구,0,6,35,25,6,24,60,66,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,6,중랑구,1,20,123,88,20,84,213,233,...,34.200694,86.723189,94.866211,207.647071,256.912357,427.915827,1147.351856,2492.579156,2484.028982,848.502934

In [18]:
monthly = pd.read_csv('2022년 1_15구간별 월 한도액, 시간.csv', encoding='cp949')

In [19]:
monthly

      구간               종합점수 월 한도액(14,800원*시간)   시간
0    1구간            465점 이상        7,105,000원  480
1    2구간  435점 이상 ~ 465점 미만        6,660,000원  450
2    3구간  405점 이상 ~ 435점 미만        6,217,000원  420
3    4구간  375점 이상 ~ 405점 미만        5,773,000원  390
4    5구간  345점 이상 ~ 375점 미만        5,329,000원  360
5    6구간  315점 이상 ~ 345점 미만        4,885,000원  330
6    7구간  285점 이상 ~ 315점 미만        4,440,000원  300
7    8구간  255점 이상 ~ 285점 미만        3,997,000원  270
8    9구간  225점 이상 ~ 255점 미만        3,553,000원  240
9   10구간  195점 이상 ~ 225점 미만        3,109,000원  210
10  11구간  165점 이상 ~ 195점 미만        2,665,000원  180
11  12구간  135점 이상 ~ 165점 미만        2,220,000원  150
12  13구간  105점 이상 ~ 135점 미만        1,777,000원  120
13  14구간   75점 이상 ~ 105점 미만        1,333,000원   90
14  15구간    42점 이상 ~ 75점 미만          889,000원   60

In [46]:
interval_sorted2.to_csv('./interval_sorted2.csv', index='False')

In [21]:
import numpy as np

inte = np.ceil(interval_sorted2.loc[:, ['0구역 1구간', '1구역 1구간', '2구역 1구간']].max(axis=1))
inte_p = interval_sorted2.loc[:, ['0구역 1구간', '1구역 1구간', '2구역 1구간']].idxmax(axis=1)

In [25]:
for i in range(22):
  interval_sorted2.loc[i, inte_p[i]] = inte[i]

In [26]:
interval_sorted2

,index,Unnamed: 0,1구간,2구간,3구간,4구간,5구간,6구간,7구간,8구간,...,2구역 6구간,2구역 7구간,2구역 8구간,2구역 9구간,2구역 10구간,2구역 11구간,2구역 12구간,2구역 13구간,2구역 14구간,2구역 15구간
0,22,강남구,1,15,94,68,15,65,163,178,...,28.869691,72.396302,79.058539,173.218147,214.079864,357.095872,956.697150,2078.617762,2071.955526,707.529508
1,24,강동구,1,17,106,76,17,73,184,201,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8,강북구,1,17,107,77,17,73,185,203,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,15,강서구,2,29,175,126,29,121,305,333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20,관악구,1,20,123,89,20,85,214,235,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4,광진구,1,13,77,55,13,53,133,146,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,16,구로구,1,18,107,77,18,74,186,203,...,39.304964,98.793558,107.823077,236.360933,292.131490,486.000570,1303.437594,2831.550861,2821.990194,964.033917
7,17,금천구,1,11,68,49,11,47,118,129,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,10,노원구,2,27,167,121,27,115,291,319,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,9,도봉구,1,15,94,68,15,65,163,178,...,24.352297,61.068067,66.687828,146.113780,180.956297,301.219178,807.372298,1754.114664,1748.494903,597.193245
10,5,동대문구,1,16,97,70,16,67,168,184,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,19,동작구,1,15,89,64,15,61,155,169,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,13,마포구,1,13,81,58,13,56,140,153,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,12,서대문구,1,13,77,56,13,53,134,146,...,8.143894,20.590222,22.434123,49.324339,60.848717,101.414529,271.821668,590.662800,588.665241,201.138815
14,21,서초구,1,11,65,47,11,45,114,125,...,30.630916,77.598321,85.085879,185.827559,229.391529,381.865423,1024.433979,2225.846585,2218.359028,757.604663
15,7,성북구,1,17,106,77,17,73,184,202,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,23,송파구,1,20,121,88,20,84,211,231,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2,용산구,0,8,49,36,8,34,86,94,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,11,은평구,1,21,131,95,21,90,228,249,...,32.233724,81.658767,89.179969,195.551257,241.752928,402.563394,1079.471592,2345.182476,2337.303122,798.321891
19,0,종로구,0,6,37,26,6,25,64,70,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,1,중구,0,6,35,25,6,24,60,66,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,6,중랑구,1,20,123,88,20,84,213,233,...,34.200694,86.723189,94.866211,207.647071,256.912357,427.915827,1147.351856,2492.579156,2484.028982,848.502934

In [29]:
interval_sorted2 = interval_sorted2.round(0)

In [30]:
interval_sorted2

,index,Unnamed: 0,1구간,2구간,3구간,4구간,5구간,6구간,7구간,8구간,...,2구역 6구간,2구역 7구간,2구역 8구간,2구역 9구간,2구역 10구간,2구역 11구간,2구역 12구간,2구역 13구간,2구역 14구간,2구역 15구간
0,22,강남구,1,15,94,68,15,65,163,178,...,29.0,72.0,79.0,173.0,214.0,357.0,957.0,2079.0,2072.0,708.0
1,24,강동구,1,17,106,76,17,73,184,201,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8,강북구,1,17,107,77,17,73,185,203,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,15,강서구,2,29,175,126,29,121,305,333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20,관악구,1,20,123,89,20,85,214,235,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4,광진구,1,13,77,55,13,53,133,146,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,16,구로구,1,18,107,77,18,74,186,203,...,39.0,99.0,108.0,236.0,292.0,486.0,1303.0,2832.0,2822.0,964.0
7,17,금천구,1,11,68,49,11,47,118,129,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,10,노원구,2,27,167,121,27,115,291,319,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,9,도봉구,1,15,94,68,15,65,163,178,...,24.0,61.0,67.0,146.0,181.0,301.0,807.0,1754.0,1748.0,597.0
10,5,동대문구,1,16,97,70,16,67,168,184,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,19,동작구,1,15,89,64,15,61,155,169,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,13,마포구,1,13,81,58,13,56,140,153,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,12,서대문구,1,13,77,56,13,53,134,146,...,8.0,21.0,22.0,49.0,61.0,101.0,272.0,591.0,589.0,201.0
14,21,서초구,1,11,65,47,11,45,114,125,...,31.0,78.0,85.0,186.0,229.0,382.0,1024.0,2226.0,2218.0,758.0
15,7,성북구,1,17,106,77,17,73,184,202,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,23,송파구,1,20,121,88,20,84,211,231,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2,용산구,0,8,49,36,8,34,86,94,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,11,은평구,1,21,131,95,21,90,228,249,...,32.0,82.0,89.0,196.0,242.0,403.0,1079.0,2345.0,2337.0,798.0
19,0,종로구,0,6,37,26,6,25,64,70,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,1,중구,0,6,35,25,6,24,60,66,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,6,중랑구,1,20,123,88,20,84,213,233,...,34.0,87.0,95.0,208.0,257.0,428.0,1147.0,2493.0,2484.0,849.0

In [37]:
interval_sorted2 = interval_sorted2.fillna(0)

In [38]:
interval_sorted2

,index,Unnamed: 0,1구간,2구간,3구간,4구간,5구간,6구간,7구간,8구간,...,2구역 6구간,2구역 7구간,2구역 8구간,2구역 9구간,2구역 10구간,2구역 11구간,2구역 12구간,2구역 13구간,2구역 14구간,2구역 15구간
0,22,강남구,1,15,94,68,15,65,163,178,...,29.0,72.0,79.0,173.0,214.0,357.0,957.0,2079.0,2072.0,708.0
1,24,강동구,1,17,106,76,17,73,184,201,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,8,강북구,1,17,107,77,17,73,185,203,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,15,강서구,2,29,175,126,29,121,305,333,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,20,관악구,1,20,123,89,20,85,214,235,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4,광진구,1,13,77,55,13,53,133,146,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,16,구로구,1,18,107,77,18,74,186,203,...,39.0,99.0,108.0,236.0,292.0,486.0,1303.0,2832.0,2822.0,964.0
7,17,금천구,1,11,68,49,11,47,118,129,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,10,노원구,2,27,167,121,27,115,291,319,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,9,도봉구,1,15,94,68,15,65,163,178,...,24.0,61.0,67.0,146.0,181.0,301.0,807.0,1754.0,1748.0,597.0
10,5,동대문구,1,16,97,70,16,67,168,184,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,19,동작구,1,15,89,64,15,61,155,169,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,13,마포구,1,13,81,58,13,56,140,153,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,12,서대문구,1,13,77,56,13,53,134,146,...,8.0,21.0,22.0,49.0,61.0,101.0,272.0,591.0,589.0,201.0
14,21,서초구,1,11,65,47,11,45,114,125,...,31.0,78.0,85.0,186.0,229.0,382.0,1024.0,2226.0,2218.0,758.0
15,7,성북구,1,17,106,77,17,73,184,202,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,23,송파구,1,20,121,88,20,84,211,231,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,2,용산구,0,8,49,36,8,34,86,94,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,11,은평구,1,21,131,95,21,90,228,249,...,32.0,82.0,89.0,196.0,242.0,403.0,1079.0,2345.0,2337.0,798.0
19,0,종로구,0,6,37,26,6,25,64,70,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,1,중구,0,6,35,25,6,24,60,66,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,6,중랑구,1,20,123,88,20,84,213,233,...,34.0,87.0,95.0,208.0,257.0,428.0,1147.0,2493.0,2484.0,849.0

In [39]:
g = []
for i in range(3):
  for j in range(1, 16):
    interval_sorted2[f'{i}구역 1구간']*monthly['시간'][0]

In [44]:
for i in range(3):
  interval_sorted2[f'{i}구역 총 시간'] = interval_sorted2[f'{i}구역 1구간']*monthly['시간'][0]+interval_sorted2[f'{i}구역 2구간']*monthly['시간'][1]+interval_sorted2[f'{i}구역 3구간']*monthly['시간'][2]+interval_sorted2[f'{i}구역 4구간']*monthly['시간'][3]+interval_sorted2[f'{i}구역 5구간']*monthly['시간'][4]+interval_sorted2[f'{i}구역 6구간']*monthly['시간'][5]+interval_sorted2[f'{i}구역 7구간']*monthly['시간'][6]+interval_sorted2[f'{i}구역 8구간']*monthly['시간'][7]+interval_sorted2[f'{i}구역 9구간']*monthly['시간'][8]+interval_sorted2[f'{i}구역 10구간']*monthly['시간'][9]+interval_sorted2[f'{i}구역 11구간']*monthly['시간'][10]+interval_sorted2[f'{i}구역 12구간']*monthly['시간'][11]+interval_sorted2[f'{i}구역 13구간']*monthly['시간'][12]+interval_sorted2[f'{i}구역 14구간']*monthly['시간'][13]+interval_sorted2[f'{i}구역 15구간']*monthly['시간'][14]

In [45]:
interval_sorted2

,index,Unnamed: 0,1구간,2구간,3구간,4구간,5구간,6구간,7구간,8구간,...,2구역 9구간,2구역 10구간,2구역 11구간,2구역 12구간,2구역 13구간,2구역 14구간,2구역 15구간,0구역 총 시간,1구역 총 시간,2구역 총 시간
0,22,강남구,1,15,94,68,15,65,163,178,...,173.0,214.0,357.0,957.0,2079.0,2072.0,708.0,235500.0,841410.0,860700.0
1,24,강동구,1,17,106,76,17,73,184,201,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,651690.0,1533390.0,0.0
2,8,강북구,1,17,107,77,17,73,185,203,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2202930.0,0.0,0.0
3,15,강서구,2,29,175,126,29,121,305,333,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3476100.0,147210.0,0.0
4,20,관악구,1,20,123,89,20,85,214,235,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1220520.0,1329360.0,0.0
5,4,광진구,1,13,77,55,13,53,133,146,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1216200.0,369060.0,0.0
6,16,구로구,1,18,107,77,18,74,186,203,...,236.0,292.0,486.0,1303.0,2832.0,2822.0,964.0,626460.0,407850.0,1172790.0
7,17,금천구,1,11,68,49,11,47,118,129,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1400190.0,0.0,0.0
8,10,노원구,2,27,167,121,27,115,291,319,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2747250.0,713400.0,0.0
9,9,도봉구,1,15,94,68,15,65,163,178,...,146.0,181.0,301.0,807.0,1754.0,1748.0,597.0,289410.0,922080.0,725520.0
10,5,동대문구,1,16,97,70,16,67,168,184,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1849080.0,153960.0,0.0
11,19,동작구,1,15,89,64,15,61,155,169,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,929010.0,908820.0,0.0
12,13,마포구,1,13,81,58,13,56,140,153,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,983760.0,682200.0,0.0
13,12,서대문구,1,13,77,56,13,53,134,146,...,49.0,61.0,101.0,272.0,591.0,589.0,201.0,749130.0,597750.0,244590.0
14,21,서초구,1,11,65,47,11,45,114,125,...,186.0,229.0,382.0,1024.0,2226.0,2218.0,758.0,376950.0,55050.0,921000.0
15,7,성북구,1,17,106,77,17,73,184,202,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1117380.0,1074120.0,0.0
16,23,송파구,1,20,121,88,20,84,211,231,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1983480.0,524490.0,0.0
17,2,용산구,0,8,49,36,8,34,86,94,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1020600.0,0.0,0.0
18,11,은평구,1,21,131,95,21,90,228,249,...,196.0,242.0,403.0,1079.0,2345.0,2337.0,798.0,416700.0,1321710.0,970530.0
19,0,종로구,0,6,37,26,6,25,64,70,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,613710.0,142260.0,0.0
20,1,중구,0,6,35,25,6,24,60,66,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49800.0,664020.0,0.0
21,6,중랑구,1,20,123,88,20,84,213,233,...,208.0,257.0,428.0,1147.0,2493.0,2484.0,849.0,1061310.0,440010.0,1031130.0